pkg/
Gemfile.lock
vendor/
spec/fixtures/manifests/
spec/fixtures/modules/*
!spec/fixtures/modules/test
.vagrant/
.bundle/
coverage/
log/
.idea/
*.iml
.vendor/
bin/
tmp/
ee.license
se.license
rspec.xml
.vscode/